<main class="main">
    <app-navigation></app-navigation>
    <div class="card text-white yellow mb-3 card-banner">
        <div class="card-header">Search</div>
        <div class="card-body">
            <h5 class="card-title">Search any oder criteria in the search input field</h5>
            <p class="card-text">Find specific orders by typing in the order number, search by store, by SKU, etc.</p>
          </div>
    </div>
    <div class="info-container">
        <div class="card card-margin red text-white mb-3" style="max-width: 18rem;">
            <div class="card-header">All Orders</div>
            <div class="card-body">
              <h5 class="card-title">This dashboard includes all active orders</h5>
              <p class="card-text">Any order placed through the Auto-Wares anniversary store will be searchable from the home page.</p>
            </div>
          </div>
          <div class="card card-margin green text-white mb-3" style="max-width: 18rem;">
            <div class="card-header">Total Orders</div>
            <div class="card-body">
              <h5 class="card-title">The sum of all orders placed through the anniversary site.</h5>
              <p class="card-text">This will include the total amount of orders that we have received for fulfillment.</p>
            </div>
          </div>
          <div class="card card-margin blue text-white mb-3" style="max-width: 18rem;">
            <div class="card-header">Realtime Data</div>
            <div class="card-body">
              <h5 class="card-title">API driven data populates the searchable field.</h5>
              <p class="card-text">All data on this dashboard is realtime, API calls are processed on page load and refresh. Shipping status is updated also.</p>
            </div>
          </div>
    </div>
    <div class="button">
        <button class="bth" routerLink="">Back to Home</button>
    </div>
    
</main>
