<div class="master">
    <app-navigation></app-navigation>
    <div class="headers">
        <h6 class="blueback">Shipment Data: 04-17-21</h6>
        <h6 (click)="downloadFile(test)" class="redback"><img class="download" src="./assets/download.svg" alt="">Download CSV | Excel File</h6>
    </div>
<div class="container">
    <div>
        <div class="table-responsive">
            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">Total Orders</th>
                    <th scope="col">Order Number</th>
                    <th scope="col">Item(s) Description</th>
                    <th scope="col">Employee</th>
                    <th scope="col">Location</th>
                    <th scope="col">Ship Date</th>
                    <th scope="col">Source</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let items of test">
                    <td class="id-table">{{items.Id}}</td>
                    <td>{{items.Order}}</td>
                    <td>{{items.Item1}}<br />{{items.Item2}}<br />{{items.Item3}}<br />{{items.Item4}}</td>
                    <td>{{items.Employee}}</td>
                    <td>{{items.Location}}</td>
                    <td>{{items.ShipDate}}</td>
                    <td>{{items.Source}}</td>
                    <td>{{items.Quantity}}<br />{{items.Quantity1}}<br />{{items.Quantity2}}<br />{{items.Quantity3}}<br />{{items.Quantity4}}</td>
                    <td>{{items.Price1}}<br />{{items.Price2}}<br />{{items.Price3}}<br />{{items.Price4}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <!-- test table -->
        <div class="table-responsive">
          <table class="table table-dark" #userTable>
              <thead>
                <tr>
                  <th scope="col">Total Orders</th>
                  <th scope="col">Order Number</th>
                  <th scope="col">Item(s) Description</th>
                  <th scope="col">Employee</th>
                  <th scope="col">Location</th>
                  <th scope="col">Ship Date</th>
                  <th scope="col">Source</th>
                  <th scope="col">Qty</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody *ngFor="let items of orderAnniversary.orders">
                <tr *ngIf="items.orderNumber == 1228">
                    <td class="id-table">1 ANV</td>
                    <td>{{items.orderNumber}}</td>
                    <td *ngFor="let garment of items.items">{{garment.name}}</td>
                    <td>{{ items.billTo.name }}</td>
                    <td>{{ items.billTo.company }}</td>
                    <td>{{ items.shipDate }}</td>
                    <td>{{ items.advancedOptions.storeId }}</td>
                    <td *ngFor="let garment of items.items">{{ garment.quantity }}</td>
                    <td *ngFor="let garment of items.items">{{garment.unitPrice}}</td>
                </tr>
                <tr *ngIf="items.orderNumber == 1227">
                  <td class="id-table">2 ANV</td>
                  <td>{{items.orderNumber}}</td>
                  <td *ngFor="let garment of items.items">{{garment.name}}</td>
                  <td>{{ items.billTo.name }}</td>
                  <td>{{ items.billTo.company }}</td>
                  <td>{{ items.shipDate }}</td>
                  <td>{{ items.advancedOptions.storeId }}</td>
                  <td *ngFor="let garment of items.items">{{ garment.quantity }}</td>
                  <td *ngFor="let garment of items.items">{{garment.unitPrice}}</td>
              </tr>
              <tr *ngIf="items.orderNumber == 1223">
                <td class="id-table">3 ANV</td>
                <td>{{items.orderNumber}}</td>
                <td *ngFor="let garment of items.items">{{garment.name}}</td>
                <td>{{ items.billTo.name }}</td>
                <td>{{ items.billTo.company }}</td>
                <td>{{ items.shipDate }}</td>
                <td>{{ items.advancedOptions.storeId }}</td>
                <td *ngFor="let garment of items.items">{{ garment.quantity }}</td>
                <td *ngFor="let garment of items.items">{{garment.unitPrice}}</td>
            </tr>
            <tr *ngIf="items.orderNumber == 1219">
              <td class="id-table">3 ANV</td>
              <td>{{items.orderNumber}}</td>
              <td *ngFor="let garment of items.items">{{garment.name}}</td>
              <td>{{ items.billTo.name }}</td>
              <td>{{ items.billTo.company }}</td>
              <td>{{ items.shipDate }}</td>
              <td>{{ items.advancedOptions.storeId }}</td>
              <td *ngFor="let garment of items.items">{{ garment.quantity }}</td>
              <td *ngFor="let garment of items.items">{{garment.unitPrice}}</td>
          </tr>
          <tr *ngIf="items.orderNumber == 1218">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td *ngFor="let garment of items.items">{{garment.name}}</td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td *ngFor="let garment of items.items">{{ garment.quantity }}</td>
            <td *ngFor="let garment of items.items">{{garment.unitPrice}}</td>
          </tr>
          <tr *ngIf="items.orderNumber == 1205">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td *ngFor="let garment of items.items">{{garment.name}}</td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td *ngFor="let garment of items.items">{{ garment.quantity }}</td>
            <td *ngFor="let garment of items.items">{{garment.unitPrice}}</td>
          </tr>
          <tr *ngIf="items.orderNumber == 1186">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td *ngFor="let garment of items.items">{{garment.name}}</td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td *ngFor="let garment of items.items">{{ garment.quantity }}</td>
            <td *ngFor="let garment of items.items">{{garment.unitPrice}}</td>
          </tr>
          <tr *ngIf="items.orderNumber == 1267">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td *ngFor="let garment of items.items">{{garment.name}}</td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td *ngFor="let garment of items.items">{{ garment.quantity }}</td>
            <td *ngFor="let garment of items.items">{{garment.unitPrice}}</td>
          </tr>
          <tr *ngIf="items.orderNumber == 1280">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td *ngFor="let garment of items.items">{{garment.name}}</td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td *ngFor="let garment of items.items">{{ garment.quantity }}</td>
            <td *ngFor="let garment of items.items">{{garment.unitPrice}}</td>
          </tr>
          <tr *ngIf="items.orderNumber == 1290">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td *ngFor="let garment of items.items">{{garment.name}}</td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td *ngFor="let garment of items.items">{{ garment.quantity }}</td>
            <td *ngFor="let garment of items.items">{{garment.unitPrice}}</td>
          </tr>
          <tr *ngIf="items.orderNumber == 1287">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td *ngFor="let garment of items.items">{{garment.name}}</td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td *ngFor="let garment of items.items">{{ garment.quantity }}</td>
            <td *ngFor="let garment of items.items">{{garment.unitPrice}}</td>
          </tr>
          <tr *ngIf="items.orderNumber == 1291">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td *ngFor="let garment of items.items">{{garment.name}}</td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td *ngFor="let garment of items.items">{{ garment.quantity }}</td>
            <td *ngFor="let garment of items.items">{{garment.unitPrice}}</td>
          </tr>
          <tr *ngIf="items.orderNumber == 1296">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td *ngFor="let garment of items.items">{{garment.name}}</td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td *ngFor="let garment of items.items">{{ garment.quantity }}</td>
            <td *ngFor="let garment of items.items">{{garment.unitPrice}}</td>
          </tr>
          <tr *ngIf="items.orderNumber == 1298">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td>{{ items.items[0].name}}<br></td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td>{{ items.items[0].quantity }}</td>
            <td>{{ items.items[0].unitPrice}}<br></td>
          </tr>
          <tr *ngIf="items.orderNumber == 1298">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td>{{ items.items[1].name}}<br></td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td>{{ items.items[1].quantity }}</td>
            <td>{{ items.items[1].unitPrice}}<br></td>
          </tr>
          <tr *ngIf="items.orderNumber == 1298">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td>{{ items.items[2].name}}<br></td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td>{{ items.items[2].quantity }}</td>
            <td>{{ items.items[2].unitPrice}}<br></td>
          </tr>
          <tr *ngIf="items.orderNumber == 1298">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td>{{ items.items[3].name}}<br></td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td>{{ items.items[3].quantity }}</td>
            <td>{{ items.items[3].unitPrice}}<br></td>
          </tr>
          <tr *ngIf="items.orderNumber == 1307">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td *ngFor="let garment of items.items">{{garment.name}}</td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td *ngFor="let garment of items.items">{{ garment.quantity }}</td>
            <td *ngFor="let garment of items.items">{{garment.unitPrice}}</td>
          </tr>
          <tr *ngIf="items.orderNumber == 1308">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td *ngFor="let garment of items.items">{{garment.name}}</td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td *ngFor="let garment of items.items">{{ garment.quantity }}</td>
            <td *ngFor="let garment of items.items">{{garment.unitPrice}}</td>
          </tr>
          <tr *ngIf="items.orderNumber == 1316">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td *ngFor="let garment of items.items">{{garment.name}}</td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td *ngFor="let garment of items.items">{{ garment.quantity }}</td>
            <td *ngFor="let garment of items.items">{{garment.unitPrice}}</td>
          </tr>
          <tr *ngIf="items.orderNumber == 1315">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td *ngFor="let garment of items.items">{{garment.name}}</td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td *ngFor="let garment of items.items">{{ garment.quantity }}</td>
            <td *ngFor="let garment of items.items">{{garment.unitPrice}}</td>
          </tr>
          <tr *ngIf="items.orderNumber == 1314">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td *ngFor="let garment of items.items">{{garment.name}}</td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td *ngFor="let garment of items.items">{{ garment.quantity }}</td>
            <td *ngFor="let garment of items.items">{{garment.unitPrice}}</td>
          </tr>
          <tr *ngIf="items.orderNumber == 1313">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td *ngFor="let garment of items.items">{{garment.name}}</td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td *ngFor="let garment of items.items">{{ garment.quantity }}</td>
            <td *ngFor="let garment of items.items">{{garment.unitPrice}}</td>
          </tr>
          <tr *ngIf="items.orderNumber == 1311">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td *ngFor="let garment of items.items">{{garment.name}}</td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td *ngFor="let garment of items.items">{{ garment.quantity }}</td>
            <td *ngFor="let garment of items.items">{{garment.unitPrice}}</td>
          </tr>
          <tr *ngIf="items.orderNumber == 1310">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td>{{ items.items[0].name}}<br></td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td>{{ items.items[0].quantity }}</td>
            <td>{{ items.items[0].unitPrice}}<br></td>
          </tr>
          <tr *ngIf="items.orderNumber == 1310">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td>{{ items.items[1].name}}<br></td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td>{{ items.items[1].quantity }}</td>
            <td>{{ items.items[1].unitPrice}}<br></td>
          </tr>
          <tr *ngIf="items.orderNumber == 1310">
            <td class="id-table">3 ANV</td>
            <td>{{items.orderNumber}}</td>
            <td>{{ items.items[2].name}}<br></td>
            <td>{{ items.billTo.name }}</td>
            <td>{{ items.billTo.company }}</td>
            <td>{{ items.shipDate }}</td>
            <td>{{ items.advancedOptions.storeId }}</td>
            <td>{{ items.items[2].quantity }}</td>
            <td>{{ items.items[2].unitPrice}}<br></td>
          </tr>
              </tbody>
            </table>
            <button (click)="exportElmToExcel()">Export</button>
      </div>
        <!-- end test table -->
    </div>
</div>
</div>

