.navbar-brand {
    font-size: 1rem;
    color: white;
    margin-left: 20%;
}
.nav-link {
    color: white;
}
.shipped {
    color: white;
    margin-left: 2%;
    text-decoration: none;
}
.spreadsheet {
    color: white;
    margin-left: .5%;
    text-decoration: none;
}
.navbar {
    background: #373740;
}
.navbar-nav {
    margin-left: 60%;
}

@media screen and (max-width: 690px) {
    .navbar-nav {
        margin-left: 10%;
    }
    .navbar-brand {
        font-size: 1rem;
        color: white;
        margin-left: 10%;
    }
  }
  