<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" routerLink="/home">Auto-Wares Dashboard</a>
    <a class="shipped" routerLink="/shipped">Shipped</a>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        All Reports
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="/0402">Report : 04-02</a>
        <a class="dropdown-item" routerLink="/0408">Report : 04-08</a>
        <a class="dropdown-item" routerLink="/0409">Report : 04-09</a>
        <a class="dropdown-item" routerLink="/0412">Report : 04-12</a>
        <a class="dropdown-item" routerLink="/0415">Report : 04-15</a>
        <a class="dropdown-item" routerLink="/seventeendata">Report : 04-17</a>
        <a class="dropdown-item" routerLink="/0427">Report : 04-27</a>
        <a class="dropdown-item" routerLink="/0505">Report : 05-05</a>
        <a class="dropdown-item" routerLink="/0506">Report : 05-06</a>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/info">Info</a>
        </li>
      </ul>
    </div>
  </nav>
  