.main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: #33333D;  /* fallback for old browsers */
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    align-items: center;
    margin: 0;
}
  .glass {
    color: white;
    min-height: 20vh;
    width: 60%;
    background: #373740;
    border-radius: 1rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 50px;
  }
  .cards {
      display: flex;
      margin: 20px auto;
      justify-content: center;
  }
  .glasstotal {
    color: white;
    min-height: 5vh;
    width: 20%;
    background: #34A853;
    border-radius: .5rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 20px;
  }
  .glasstotalred {
    color: white;
    min-height: 5vh;
    width: 20%;
    background: #4285F4;
    border-radius: .5rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 20px;
  }
  .glassbanner {
    color: white;
    min-height: 5vh;
    width: 20%;
    background: #EA4335;
    border-radius: .5rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 20px;
  }
  .main-table {
    margin: 20px auto;
    max-height:60vh;
    overflow-y:scroll;
    overflow-x:hidden;
}
hr {
    margin-top: .2rem;
    margin-bottom: .2rem;
    border: 0;
    border-top: 1px solid white;
  }

  .order {
      font-size: 1.2rem;
  }

  .input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    width: 40%;
    color: white;
    font-size: 18px;
}
.searchy {
    display: flex;
    align-items: center;
    margin: 3% 20%;
}
.search-icon {
    height: 30px;
    width: 30px;
    margin-right: 20px;
}
.navbar-toggler-icon {
    background-color: white;
    background: white;
}
.ordersimg {
    display: flex;
    align-items: center;
}
.recieved {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
.marginitems {
    display: flex;
    flex-direction: column;
}
.greenbox {
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 690px) {
    .glass {
        color: white;
        min-height: 20vh;
        width: 100%;
        background: #373740;
        border-radius: 1rem;
        z-index: 2;
        backdrop-filter: blur(2rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px auto;
        padding: 50px;
      }
      .input {
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid white;
        width: 60%;
        color: white;
        font-size: 18px;
    }
  }
  