.main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: #33333D;  /* fallback for old browsers */
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    align-items: center;
    margin: 0;
}
  .glass {
    color: white;
    min-height: 20vh;
    width: 60%;
    background: #373740;
    border-radius: 1rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    padding: 20px;
  }
  .glassbanner {
    /* background: #373740; */
    color: white;
    min-height: 5vh;
    width: 60%;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    margin: 20px auto;
    padding: 20px;
  }
  .main-table {
    margin: 20px auto;
    max-height:50vh;
    overflow-y:scroll;
    overflow-x:hidden;
}
hr {
    margin-top: .2rem;
    margin-bottom: .2rem;
    border: 0;
    border-top: 1px solid white;
  }

  .order {
      font-size: 1.2rem;
  }

  .input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    width: 30%;
    color: white;
    font-size: 18px;
}
.searchy {
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: 5%;
}